.Travel-guide-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  min-height: 100vh;
  background-color: #eef4f7;
}

.Travel-guide-heading {
  color: #334155;
  font-family: 'Roboto';
  font-size: 38px;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 5px solid #52bbf0;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding-left: 200px;
}

.travel-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding-left: 0px;
}

.loader-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
